body{
  background-color: whitesmoke;
  
}

h1{
  text-align: center;
}

.input-container
{
  /* display: flex;
  flex-direction: row;
  justify-content: space-between; */
  text-align: center;
 


}

.input-container > input{
  height: 1.5rem;
  width: 17rem;
 

}

.input-container > input:hover{
 border-color: orange;
 height: 1.7rem;
 width: 18rem;
}



button
{
  height: 1.8rem;
  border-radius: 0.5%;
  color: white;
  background-color: purple;
  font-size: 1.5;
}



.container{

display: flex;
flex-direction: column;
gap: 4rem;
margin-top: 2.5rem;

background-color: whitesmoke;

border-radius: 10px;

margin-left: 8rem;
margin-right: 8rem;




}

.action
{
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 background-color: white;
 padding: 0.5rem;
 border-radius: 10px;
}

.todo-work
{
  margin-left: 1.5rem;
}

.action-button
{
 
  display: flex;
  gap: 0.5rem;
  align-items: center;
  
}