body{
  background-color: whitesmoke;
  
}

h1{
  text-align: center;
}

.input-container
{
  /* display: flex;
  flex-direction: row;
  justify-content: space-between; */
  text-align: center;
 


}

.input-container > input{
  height: 1.5rem;
  width: 17rem;
 

}

.input-container > input:hover{
 border-color: orange;
 height: 1.7rem;
 width: 18rem;
}



button
{
  height: 1.8rem;
  border-radius: 0.5%;
  color: white;
  background-color: purple;
  font-size: 1.5;
}



.container{

display: flex;
flex-direction: row;
justify-content: space-between;
place-content: center;
gap: 7rem;
margin-top: 2.5rem;
height: 3rem;
background-color: white;
margin-left: 15rem;
margin-right: 15rem;
border-radius: 10px;




}

.action-button
{
  margin-top: 1rem;
}